.recipeContainer a {
  text-decoration: none;
}

.recipe {
  width: 250px;
  height: 320px;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 7px;
  transition: all 200ms ease-in-out;
}

.recipe:hover {
  background-color: rgba(192, 202, 206, 0.247);
}



.recipe .imgContainer {
  width: 100%;
  height: 50%;
  padding: 5px;
}

.recipe .imgContainer img {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  background-size: cover;
  box-shadow: 0 3px 34px 0px #00000070;
  border-radius: 7px;
}

.recipe .contentContainer div {
  font-size: 1.5rem;
  font-weight: 700;
  color: #00dcff;
  padding-left: 10px;
}

.recipe .contentContainer p {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 20px;
  color: white;
  padding: 0 10px;
  overflow-wrap: break-word;
  min-height: 90px;
}


@media (min-width: 0px) {
  .recipe {
    width: 87vw;
    height: auto;
  }
}

@media (min-width: 450px) {
  .recipe {
    width: 60vw;
    /* height: 450px; */
  }
}

@media (min-width: 500px) {
  .recipe {
    width: 230px;
    /* height: 330px; */
  }
}

@media (min-width: 540px) {
  .recipe {
    width: 230px;
    /* height: 330px; */
  }
}

@media (min-width: 575px) {
  .recipe {
    width: 250px;
    /* height: 350px; */
  }
}

@media (min-width: 641px) {
  .recipe {
    width: 350px;
    /* height: 400px; */
  }
}

@media (min-width: 700px) {
  .recipe {
    width: 350px;
    /* height: 400px; */
  }
}

@media (min-width: 780px) {
  .recipe {
    width: 250px;
    /* height: 300px; */
  }
}

@media (min-width: 961px) {
  .recipe {
    width: 250px;
    /* height: 350px; */
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  
}

